<section class="card-section py-5">
    <div class="container">
        <div class="flex-panel flex-justify-between py-5 card-row">
            <div class="card text-center">
                <img src="assets/images/secure.svg" alt="secure">
                <h4 class="font-bold">Secure</h4>
                <p class="paragraph">Send money online fast, secure and easy live tracking and notification + flexible delivery and payment options.</p>
            </div><!--end card-->

            <div class="card text-center">
                <img src="assets/images/accessible.svg" alt="secure">
                <h4 class="font-bold">easy accessible</h4>
                <p class="paragraph">Create a chart for any currency pair in the world to see their currency history. These currency charts use live mid-market rates, are easy to use, and are very reliable. </p>
            </div><!--end card-->

            <div class="card text-center">
                <img src="assets/images/fast.svg" alt="secure">
                <h4 class="font-bold">Fast and reliable</h4>
                <p class="paragraph">Need to know when a currency hits a specefic rate? The Xe Rate Alert will let you know when the rate you need is triggered on your selected currency pairs.</p>
            </div><!--end card-->
        </div><!--end flex panel-->
    </div><!--end container-->
</section><!--end card section-->