<section class="login-form-section">
    <div class="dialog-header flex-panel flex-justify-center">
        <img src="assets/images/logo.svg" alt="logo">
    </div><!--end dialog header-->

    <div class="dialog-body">
        <form class="login-form">
            <h5 class="font-bold">Login Account</h5>
            <input type="text" class="form-control" placeholder="Email ID">
            <input type="password" class="form-control" placeholder="Password">
            <div class="flex-panel flex-justify-between py-5">
                <a class="paragraph">I don't have an account</a>
                <a class="paragraph">Forgot your password?</a>
            </div><!--end flex panel-->
            <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
        </form><!--end form-->
    </div><!--end dialog body-->

</section><!--end login form-->