<section class="hero-banner">
    <div class="container">
        <div class="flex-panel flex-justify-between flex-v-center">
            <div class="left-section">
                <h1 class="banner-heading font-bold">Exchange Your Money <span class="primary">Easily, Quickly And Securely</span></h1>
                <p class="paragraph">Best source for currency conversion, sending money online and tracking exchange rates. Live tracking and notifications + flexible delivery and payment options.</p>

                <button class="btn btn-outline font-bold mt-2">Exchange Fund</button>
            </div><!--end left section-->
    
            <div class="right-section flex-panel flex-justify-center flex-v-center">
                <img src="assets/images/hero-banner.svg" alt="hero-image">
            </div><!--end right section-->
        </div><!--end flex panel-->
    </div><!--end container-->
</section><!--end hero banner-->